<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">

<title>SOCket Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>🔒 SOCket Dashboard</h1>

<div class="cards">

<div class="card">
<h3>🔴 HIGH</h3>
<p>{{ high }}</p>
</div>

<div class="card">
<h3>🟡 MEDIUM</h3>
<p>{{ medium }}</p>
</div>

<div class="card">
<h3>🔵 INFO</h3>
<p>{{ info }}</p>
</div>

<div class="card">
<h3>💾 MongoDB</h3>
<p>🟢 Online</p>
</div>

</div>
<h2>Dernières alertes</h2>

<table>

<tr>

<th>Heure</th>

<th>Gravité</th>

<th>Source</th>

<th>Evènement</th>

</tr>

{% for log in logs %}

<tr>

<td>{{ log.time }}</td>

<td>{{ log.severity }}</td>

<td>{{ log.source }}</td>

<td>{{ log.event }}</td>

</tr>

{% endfor %}

</table>

</body>

</html>
